<footer class="bg-primary mt-5 text-center text-white fixed-bottom">
  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
       Created by <a class="text-white" href="/">asterica </a> Copyright &copy;
    <span id="year"></span>
  </div>
  <!-- Copyright -->
</footer>

<script>
  let footer = document.getElementById("year") ;
  const d = new Date();
  let year = d.getFullYear();
  footer.innerHTML = year;
</script>