<section class="vh-100 gradient-custom my-5">
  <div class="container py-5 h-100">
    <div class="row justify-content-center align-items-center h-100">
      <div class="col-12 col-lg-9 col-xl-7">
        <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
          <div class="card-body p-4 p-md-5">
            <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 text-center">Student Registration</h3>
            <form method="post" action="/signup">

              <div class="row">
                <div class="col-md-6 mb-4">

                  <div class="form-outline">
                    <input name="name" type="text" id="fullname" required class="form-control form-control-lg" />
                    <label class="form-label" for="fullname">Full name</label>
                  </div>

                </div>
                <div class="col-md-6 mb-4">

                  <div class="form-outline">
                    <input type="text" name="registerno" id="regno" required class="form-control form-control-lg" />
                    <label class="form-label" for="regno">Register number</label>
                  </div>

                </div>
              </div>

              <div class="row">
                <div class="col-md-6 mb-4 d-flex align-items-center">

                  <div class="form-outline datepicker w-100">
                    <input name="rollno" type="text" required class="form-control form-control-lg" id="rollno" />
                    <label for="rollno" class="form-label">Roll no</label>
                  </div>

                </div>
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    <input name="phoneno" type="tel" id="phoneNumber" class="form-control form-control-lg" />
                    <label class="form-label" for="phoneNumber">Phone number</label>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6 mb-4 pb-2">

                  <div class="form-outline">
                    <input name="email" type="email" required id="emailAddress" class="form-control form-control-lg" />
                    <label class="form-label" for="emailAddress">Email</label>
                  </div>

                </div>
                <div class="col-md-6 mb-4">

                  <div class="form-check form-check-inline">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="gender"
                      id="femaleGender"
                      value="female"
                      checked
                      required
                    />
                    <label class="form-check-label" for="femaleGender">Female</label>
                  </div>

                  <div class="form-check form-check-inline">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="gender"
                      id="maleGender"
                      value="male"
                    />
                    <label class="form-check-label" for="maleGender">Male</label>
                  </div>

                </div>
              </div>

              <div class="row">
                <div class="col-md-6 mb-4">

                  <div class="form-outline">
                    <input name="password" required type="password" id="password" class="form-control form-control-lg" />
                    <label class="form-label" for="password">Password</label>
                  </div>

                </div>
                <div class="col-md-6 mb-4">

                  <div class="form-outline">
                    <input name="confirmpassword" required type="password" id="cpassword" class="form-control form-control-lg" />
                    <label class="form-label" for="cpassword">Confirm Password</label>
                  </div>

                </div>
              </div>

              <div class="row">
                <div class="col-md-6 mb-4">

                  <select name="class" class="form-select" required aria-label="Default select example">
                    <option selected>Class</option>
                    <option value="cs1">CS 1</option>
                    <option value="cs2">CS 2</option>
                    <option value="cs3">CS 3</option>
                    <option value="es1">ES 1</option>
                    <option value="es2">ES 2</option>
                    <option value="es3">ES 3</option>
                    <option value="ps1">PS 1</option>
                    <option value="ps2">PS 2</option>
                    <option value="ps3">PS 3</option>

                  </select>


                </div>

                 <div class="col-md-6 mb-4">

                  <select name="department" class="form-select" required aria-label="Default select example">
                    <option selected>Department</option>
                    <option value="computer">Computer</option>
                    <option value="electronics">Electronics</option>
                    <option value="printing">Printing</option>
                   

                  </select>


                </div>
              


              </div>

              <div class="mt-4 pt-2">
                <input class="btn btn-success btn-lg btn-submit" type="submit" value="Submit" />
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<style>
    @media (max-width: 991.98px) {
      .btn-submit{
        margin-bottom: 50px;
      }
    }
</style>