<!--Main Navigation-->
<header>
  <!-- Sidebar -->
  <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white">
    <div class="position-sticky">
      <div class="list-group list-group-flush mx-3 mt-4 py-3" id="list-tab" role="tablist">

        <a class="list-group-item list-group-item-action active py-3" id="list-home-list" data-mdb-toggle="list"
          href="#list-home" role="tab" aria-controls="list-home"><i class="fas fa-tachometer-alt me-2"></i> Students</a>
        <a class="list-group-item list-group-item-action py-3" id="list-profile-list" data-mdb-toggle="list"
          href="#list-profile" role="tab" aria-controls="list-profile"><i class="fas fa-users me-2"></i>Participants</a>
        <a class="list-group-item list-group-item-action py-3" id="list-messages-list" data-mdb-toggle="list"
          href="#list-messages" role="tab" aria-controls="list-messages"><i class="fas fa-user-graduate me-2"></i>
          Certificate</a>
        <a class="list-group-item list-group-item-action py-3" id="list-settings-list" data-mdb-toggle="list"
          href="#list-settings" role="tab" aria-controls="list-settings"><i class="fas fa-home me-2"></i> About</a>

      </div>
    </div>
  </nav>
  <!-- Sidebar -->

  <!-- Navbar -->
  <nav id="main-navbar" class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
    <!-- Container wrapper -->
    <div class="container-fluid">
      <!-- Toggle button -->
      <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#sidebarMenu"
        aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
      </button>

      <!-- Brand -->
      <a class="navbar-brand ms-5" href="#">
        <h2>Logo</h2>
      </a>
      <!-- Search form -->


      <!-- Right links -->
      <ul class="navbar-nav ms-auto d-flex flex-row">
        <!-- Notification dropdown -->

        <!-- Avatar -->
        <li class="nav-item dropdown me-3">
          <a class="nav-link dropdown-toggle hidden-arrow d-flex align-items-center" href="#"
            id="navbarDropdownMenuLink" role="button" data-mdb-toggle="dropdown" aria-expanded="false">
            <i class="fas fa-user-circle"></i>
          </a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">

            <li>
              <a class="dropdown-item" href="#">Logout</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <!-- Container wrapper -->
  </nav>
  <!-- Navbar -->
</header>
<!--Main Navigation-->

<!--Main layout-->
<main style="margin-top: 70px;">
  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active p-1" id="list-home" role="tabpanel" aria-labelledby="list-home-list">
      <section class="text-center mt-2  container">

        <h3 class="my-5">All students List</h3>
        <div class="container">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">No</th>
                <th scope="col">Name</th>
                <th scope="col">Reg no</th>
                <th scope="col">Phone</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Larry the Bird</td>
                <td>sdfffat</td>
                <td>@twitter</td>
              </tr>
            </tbody>
          </table>
        </div>



      </section>
    </div>

    <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">
      <hr class="my-5 " />
      <section id="participants" class="container">
        <h2 class="text-center">Participant list</h2>

        <ul class="nav nav-pills mb-3" id="pills-tab2" role="tablist">
          <li class="nav-item" role="presentation">
            <button class="nav-link active" id="pills-home-tab2" data-mdb-toggle="pill" data-mdb-target="#pills-home2"
              type="button" role="tab" aria-controls="pills-home" aria-selected="true">
              SOLO
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="pills-profile-tab2" data-mdb-toggle="pill" data-mdb-target="#pills-profile2"
              type="button" role="tab" aria-controls="pills-profile" aria-selected="false">
              GROUP
            </button>
          </li>
        </ul>
        {{!-- solo item pills --}}
        <div class="tab-content" id="pills-tabContent2">
          <div class="tab-pane fade show active" id="pills-home2" role="tabpanel" aria-labelledby="pills-home-tab2">

            {{!-- Solo item table --}}
            <div class="container">
              <table class="table">
              <thead>
                <tr>
                  <th scope="col">No</th>
                  <th scope="col">Name</th>
                  <th scope="col">Reg no</th>
                  <th scope="col">Status</th>
                  <th scope="col">Details</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>Mark</td>
                  <td>Otto</td>
                  <td><span class="badge badge-pill badge-success">Success</span></td>
                  <td><button type="button" class="btn btn-primary btn-rounded">View</button></td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>Jacob</td>
                  <td>Thornton</td>
                  <td><span class="badge badge-pill badge-success">Success</span></td>
                  <td><button type="button" class="btn btn-primary btn-rounded">View</button></td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td>Larry the Bird</td>
                  <td>@twitter</td>
                  <td><span class="badge badge-pill badge-success">Success</span></td>
                  <td><button type="button" class="btn btn-primary btn-rounded">View</button></td>
                </tr>
              </tbody>
            </table>
            </div>
            {{!-- solo item table ends --}}





          </div>
          {{!-- group pills --}}
          <div class="tab-pane fade" id="pills-profile2" role="tabpanel" aria-labelledby="pills-profile-tab2">

            {{!-- group Table --}}
            <div class="container">
              <table class="table">
              <thead>
                <tr>
                  <th scope="col">No</th>
                  <th scope="col">Group Leader</th>
                  <th scope="col">Item</th>
                  <th scope="col">Status</th>
                  <th scope="col">Details</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>Mark</td>
                  <td>Otto</td>
                  <td><span class="badge badge-pill badge-success">Success</span></td>
                  <td><button type="button" class="btn btn-primary btn-rounded">View</button></td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>Jacob</td>
                  <td>Thornton</td>
                  <td><span class="badge badge-pill badge-success">Success</span></td>
                  <td><button type="button" class="btn btn-primary btn-rounded">View</button></td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td>Larry the Bird</td>
                  <td>@twitter</td>
                  <td><span class="badge badge-pill badge-success">Success</span></td>
                  <td><button type="button" class="btn btn-primary btn-rounded">View</button></td>
                </tr>
              </tbody>
            </table>
            </div>
            {{!-- end of roup table --}}
          </div>
          {{!-- <div class="tab-pane fade" id="pills-contact2" role="tabpanel" aria-labelledby="pills-contact-tab2">
            Tab 3 content
          </div> --}}
        </div>
        {{!-- end of group pills --}}






      </section>
    </div>


    <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">
      <hr class="my-5 " />
      third
    </div>

    <div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list">
      <hr class="my-5 " />
      fourth
    </div>

  </div>
  <div class="container pt-4">
    <hr class="my-5 " />
  </div>



</main>
<!--Main layout-->


{{!-- styles for dashboard --}}
<style>
  body {
    background-color: #fbfbfb;
  }

  @media (min-width: 991.98px) {
    main {
      padding-left: 240px;
    }
  }

  /* Sidebar */
  .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    padding: 58px 0 0;
    /* Height of navbar */
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
    width: 240px;
    z-index: 600;
  }

  @media (max-width: 991.98px) {
    .sidebar {
      width: 100%;
    }
  }

  .sidebar .active {
    border-radius: 5px;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
  }

  .fa-user-circle {
    font-size: 25px;
    color: #fff;
  }

  .sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: 0.5rem;
    overflow-x: hidden;
    overflow-y: auto;
    /* Scrollable contents if viewport is shorter than content. */
  }

  * {
    font-family: 'Poppins', sans-serif;
  }

  html {
    scroll-behavior: smooth;
  }

  a {
    color: #00B7FF;
  }

  .navbar .nav-link {
    color: #fff !important;
  }

  li {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
  }

  .about-img {
    width: 350px;
  }
</style>